{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

<footer id="page-footer" class="footer-popover bg-white">
  <div class="social-bar">
    <a href="https://www.facebook.com/chacochii" target="_blank" class="social-link facebook">
      <i class="fa fa-facebook-f fw"></i>
    </a>
    <a href="https://www.youtube.com/@chacachien" target="_blank" class="social-link youtube">
      <i class="fa fa-youtube fw"></i>
    </a>
    <a href="https://github.com/chacachien" target="_blank" class="social-link github">
      <i class="fa fa-github fw"></i>
    </a>
  </div>

  <!-- Main Footer Content -->
  <div class="footer-content">
    <!-- About Us Section -->
    <div class="about-section">
      <h3>Về chúng tôi</h3>
      <p>Chúng tôi cung cấp những khóa học chất lượng cùng với sự hỗ trợ mạnh mẽ của AI chatbot. Mang đến cho bạn những trãi nghiệm học tập trực tuyến tuyệt vời.</p>
    </div>

    <!-- Logo Section -->
    <div class="logo-section">
      <img src="{{rootURL}}/theme/boost/pix/logo.jpg" alt="ChaCoChi Logo" />
    </div>

    <!-- Contact Section -->
    <div class="contact-section">
      <h3>Liên hệ</h3>
      <div class="contact-info">
        <p><i class="fa fw fa-phone"></i> 0923-544-575</p>
        <p><i class="fa fw fa-envelope"></i> chacachiene@gmail.com</p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="copyright">
    <p>Copyright © 2024 | Made by Cha Co Chi</p>
    <p>Powered by Moodle - version 4.1.13</p>

  </div>


    <div class="footer-content-popover container" data-region="footer-content-popover">
        <div class="footer-section p-3 border-bottom">
            <div class="logininfo">
                {{{ output.login_info }}}
            </div>
            <div class="tool_usertours-resettourcontainer">
            </div>

            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
    </div>

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
</footer>


<!--{{#js}}-->
<!--    require(['theme_boost/config'], function(widgetjs) {-->
<!--    console.log("hahaha: ",widgetjs); // to confirm the func called-->
<!--    });-->
<!--{{/js}}-->
